* { box-sizing: border-box;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

body {
  position: relative;
  background-color:#f5ca99;
}

.container-fluid {
  padding-top: 5%;
}

/*Typography*/
h1,
h2,
h3 {
  font-family: 'Lora', serif;
  color: #2d3030;
}

p,
li {
  font-family: 'Lora', serif;
  font-size: 1em;
  font-weight: normal;
}

a {
  font-size: 1em;
  text-decoration: none;
}

.navbar {
  background-color: #f5ca99!important;
}

/*about me*/
@media all {
  img {
    display: responsive;
  }
}

#myimage {
  display:block;
  border-radius: 50%;
  padding: 3%;
  margin-top:11%;
  padding-bottom: 0;
}

#about {
  margin: auto;
  width: 80%;
  background-color: #f5ca99;
  text-align: justify;
}

#greeting {
  padding-top: 30px;
}

#hi {
 padding-top: 40%;
 color: #d8412f;
}

#intro {
  font-weight: 400;
  font-size: 18px;
  color: #2d3033;
  margin-right: 1%;
  margin-left: 0%;
  padding-left: 0%;
  letter-spacing: 1px;
}

#intro p {
  margin-bottom: 0;
}

/*skills*/
#skills {
  background-color: #fcfdfe;
  font-family: 'Lora', serif;
  color: #000;
  font-size: 1.1em;
  margin-left: 5%;
  padding-top: 1%;
  line-height: 35px;
  border: solid 2px #d8412f;
}

#skills-header {
  margin-top: 1%;
  padding-right: 2%;
}

.fa-laptop {
  background-color: lightblue;
}

/*work */
#work {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5;
  margin: 0;
  margin-right: 0;
  display: flex;
}

.work-pic {
  display: block;
  margin: auto;
  max-width: 320px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}

.info {
  position: absolute; /* let's us move the text around and not worry about the image */
  top: 15%;
  left: 22%;
  color: #fe7a47;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5em;
  display: none;
}

/*Modal window with Resume*/
.container-modal {
  width: 100%;
  height: 100%;
}

.modal-body embed {width: 100%; height: 100%;}

.modal-body {
  width: 900px;
  height: 900px;
  padding-left: 15px;
}

.modal-content {
  width: 900px;
  height: 900px;
}

#resume-button {
  background-color: #fe7a47;
  float: left;
  color: #d4dde1;
  border: solid #fff 1px;
  margin-left: 6%;
}

/*Contact*/
#contact {
  height: 500px;
  background-image: url("../img/contact1.jpg");
  background-repeat: no-repeat;
  padding-top: 55px;
  background-attachment: fixed; /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover; /*Have the background cover the entire div section*/
  color: #e5e2ca; /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  font-size: 1em;
  border-bottom: white solid 7px;
}

#contact-header {
  margin-left: 3%;
  color: #fe7a47;
  padding-top: 2%;
  padding-bottom: 5%;
}

#contact-information {
 margin-left: 3%;
}

#contact-information p {
  padding-bottom: 1%;
  font-size: 2.4em;
  letter-spacing: 2px;
  color: #fe7a47;
}

#map {
  padding-top: 0;
}

/*Footer*/
footer {
  padding-bottom: 6%;
  background-color: #2d3033;
  color: #fff;
  max-height: 30px !important;
}

.buttons {
  text-align: center;
}
