* { box-sizing: border-box; }

html, body {width: auto!important; overflow-x: hidden!important}

body {
  position: relative;
  background-color: #000;
}

.container-fluid {
  padding-top: 4%;
  padding-left: 0;
}

/*Typography*/
h1  {
  font-family: 'Lora', serif;
  color: #2b2b45;
}

p,
li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.navbar {
  background-color:#000!important;
}

nav .navbar-nav li a {
  color: white !important;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-right: 1%;
}

.navbar a:hover {
  color: #2b2b45;
  text-decoration: none;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
  padding-right: 23%;
  }
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 7rem;
  }
}

#name {
  color: #fff;
}

/*about me*/
@media all {
  img {
    display: responsive;
  }
}

#myimage {
  margin-top:11%;
  padding-bottom: 0;
}

#about {
  margin: auto;
  width: 60%;
}

#greeting {
  padding-top: 30px;
  margin-left: 4.3%;
}

#hi {
 padding-top: 40%;
 color: #1aa8db;
 font-family: 'Lora', serif;
}

#intro {
  margin: auto;
  width: 60%;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  /*text-align: justify;*/
}

#intro p {
  margin-bottom: 0;
}

/*skills*/
#skills {
  margin-left: 19.7%;
  width: 58%
}

#skill-list {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 1.5em;
  padding-top: 2%;
  padding-left: 0;
  line-height: 35px;
}

#skills-header {
  color: #19cbd0;
  padding-top: 2%;
}

/*Modal window with Resume*/
.container-modal {
  width: 100%;
  height: 100%;
}

.modal-body embed {width: 100%; height: 100%;}

.modal-body {
  width: 900px;
  height: 900px;
  padding-left: 15px;
}

.modal-content {
  width: 900px;
  height: 900px;
}

#resume-button {
  background-color: #000;
  color: #fff;
  border: solid 1px #2b2b45;
  margin-left: 57%;
}

#databases {
  padding-right: 0;
  padding-left: 11%
};

/*work */
.work-img {
  display: block;
  margin: auto;
  max-width: 400px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work*/
}

.info {
  position: absolute; /* let's us move the text around and not worry about the image */
  text-align: center;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
  display: none;
}

/*Contact*/
#contact {
  height: 500px;
  background-image: url("../img/contact1.jpg");
  background-repeat: no-repeat;
  padding-top: 50px 0 40px;
  background-attachment: fixed; /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover; /*Have the background cover the entire div section*/
  color: #286788; /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  font-size: 1em;
  border-bottom: white solid 7px;
}

#contact-header {
  color: #19cbd0;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

#contact-information {
 margin-left: 19%;
}

#contact-information p {
  padding-bottom: 1%;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: #19cbd0;
}

/*Footer*/
footer {
  padding: 50px 0;
  background-color: #000;
  color: #0900ff; 
}

.buttons {
  text-align: center;
}
